.menu-icon{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    display: flex;
    top: 20px;
}
div#landing-page{
    background-image: url(img/landing.jpg);
    background-repeat: no-repeat;
    background-size: 60%;
    height: 400px;
    width: 2000px;
}
#landing-text{
    color: white;
    margin-left: 25%;
}
#avatar-circle{
    display: flex;
    margin-left: 25%;
    margin-top: 0%;
}
.menu-bar{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    display: flex;
    margin-left: 1%;
  }
#happy-hour{
    height: 300px ;
    width: 200px;
    display: flex;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 100px;
  }
#orange-square{
    background-color: orangered;
    height: 210px;
    width:300px ;
}